[submodule "assets/fonts"]
	path = assets/fonts
	url = https://github.com/typst-doc-cn/fonts.git
[submodule "assets/typst-fonts"]
	path = assets/typst-fonts
	url = https://github.com/typst-doc-cn/fonts.git
