
html,
body {
    margin: 0;
    padding: 0;
    color: rgba(235, 235, 235, 0.9);
    font-family: 'Geist', sans-serif;
    /* font-family: 'GeistSans', sans-serif;
    font-size: 16px;
    background-color: #000; */
}

h1 {
    font-size: 48px;
    font-weight: 700;
    color: rgb(241, 245, 249);
}

h1.main-title {
    margin: 0.67em 0 0.5em 0;
    line-height: 1;
}

body {
    background-color: rgb(21, 21, 21);
    margin: 0 10vw;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    font-size: 2.5rem;
    font-weight: 700;
    color: #fff;
    text-align: center;
    margin-top: 2rem;
}

.main-description {
    color: rgba(235, 235, 235, 0.6);
}

.news-list {
    margin: 60px 0;
}

.news-item {
    margin: 40px 0;
}

.news-title {
    font-size: 24px;
    margin: 0;
}

.news-title a {
    color: rgba(235, 235, 235, 0.9);
}

.news-title a:hover {
    color: rgba(235, 235, 235, 1);
}

.news-prop {
    color: rgba(235, 235, 235, 0.4);
    font-size: 12px;
    margin-bottom: 12px;
}

.icon-button {
    color: rgba(235, 235, 235, 0.9);
}

.main-body {
    min-height: calc(100vh - 128px);
    padding-top: 4em;
}

.main-header {
    padding: 24px 16px;
    text-align: center;
}

.main-footer {
    padding: 64px 16px;
    text-align: center;
}
