
html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Geist', sans-serif;
    /* font-family: 'GeistSans', sans-serif;
    font-size: 16px;
    background-color: #000; */
}

h1 {
    font-size: 48px;
    font-weight: 700;
    color: rgb(241, 245, 249);
}

h1.main-title {
    margin: 0.67em 0 0.5em 0;
    line-height: 1;
}

body {
    margin: 0 10vw;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    font-size: 2.5rem;
    font-weight: 700;
    color: #fff;
    text-align: center;
    margin-top: 2rem;
}

.news-list {
    margin: 60px 0;
}

.news-item {
    margin: 40px 0;
}

.news-title {
    font-size: 24px;
    margin: 0;
}

.news-prop {
    color: color-mix(in srgb, currentColor 60%, transparent);
    font-size: 12px;
    margin-bottom: 12px;
}

.news-body {
    text-align: justify;
}

.main-description {
    color: color-mix(in srgb, currentColor 66.66%, transparent);
}

.news-title a {
    color: currentColor;
}

.news-title a:hover {
    color: currentColor;
}

.icon-button {
    color: currentColor;
}

.text-link {
    color: currentColor;
}

.main-body {
    min-height: calc(100vh - 128px);
}

.main-header {
    padding: 24px 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.main-footer {
    padding: 64px 16px;
    text-align: center;
}

.top-text-button {
    line-height: 20px;
    vertical-align: middle;
    border: 1px solid currentColor;
    border-radius: 4px;
    padding: 2px 4px;
    margin-right: 4px;
    color: currentColor;
    text-decoration: none;
    width: 52px;
    text-align: center;
}

.qr-code-button {
    pointer-events:all;
}

.icon-button {
    transition: color 0.1s;
    cursor: pointer;
}

.icon-button:hover {
    color: #2267f2;
}

.qr-code-content {
    display: none;
    /* position: absolute;
    top: 50%;
    left: 50%; */
	position: absolute;
    transform: translateX(calc(-50% + 12px));  /* translate left by half the tip width */
    padding: 4px;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.qr-code-content > svg {
    display: block;
}

.qr-code-button:hover .qr-code-content {
    display: block;
}
