name: typst-cn-news::ci

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:

jobs:
  build:
    name: |
      Build (${{ matrix.mirror }})
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - mirror: default
            base: "https://typst-doc-cn.github.io/news/"
          - mirror: cloudflare
            base: "https://news.typst.dev/"
          - mirror: vercel
            base: "https://typst.dev/news/"
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v6
        with:
          submodules: recursive
      - uses: pnpm/action-setup@v4
        with:
          version: 10
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: pnpm
      - name: Install packages
        run: pnpm install
      - run: pnpm check-types
      - name: Build
        run: pnpm run build --base ${{ matrix.base }} --mirror ${{ matrix.mirror }}
      - name: Copy Static Assets
        run: cp -r ./assets/ ./dist
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: |
            dist-${{ matrix.mirror }}
          path: dist
